<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <div>
            <p>Hello from MVC View Page1</p>
            <p>@ViewData["message"]</p>
        </div>
    </body>
</html>